.section-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  max-width: 400px;
}

.card-total {
  border: 1px solid rgba(0, 0, 0, 0.109);
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card-total div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-total h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #212529;
}

.card-total p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #343a40;
}

.card-total span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-primary);
}

.section-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  align-items: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  /* border: 1px solid #00000014; */
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.section-info h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--grey-4);
  margin-bottom: 10px;
}

.section-info h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #343a40;
}

.section-info img {
  width: 100%;
}

.buttons-filtros {
  display: flex;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button-filtros {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--color-primary);
  padding: 5px;
  width: 85px;
  border-radius: 8px;
  cursor: pointer;
  border-style: none;
}

.button-filtros:hover {
  background-color: var(--color-primary-2);
  color: #f8f9fa;
}

@media screen and (min-width: 760px) {
  .section-info {
    width: 80%;
    align-items: center;
  }

  .section-form {
    width: auto;
  }

  .filters {
    margin-top: 100px;
  }

  .card-total {
    width: auto;
  }

  .buttons-filtros {
    width: auto;
  }
}

@media screen and (min-width: 1440px) {
  .buttons-filtros {
    flex-direction: row;
  }

  .filters {
    flex-direction: row;
    gap: 100px;
  }

  .filters h4 {
    margin-bottom: 0;
  }

  .card2 {
    flex-direction: row;
  }
}
