.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.085);
  padding: 10px;
}

.container-header {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.header-button {
  background-color: var(--grey-2);
  width: 64px;
  padding: 10px;
  color: var(--grey-3);
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.header-button:hover {
  background-color: var(--grey-4);
}

@media screen and (min-width: 760px) {
  .header {
    padding: 0px;
  }
}

@media screen and (min-width: 760px) {
  .container-header {
    width: 60%;
  }
}
